{{- $context := .Context -}}
{{- $limit := default 10 .Params.limit -}}
<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "categories" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.categoriesCloud.title" }}</h2>

    <div class="tagCloud-tags">
        {{- $categories := slice -}}
        {{- range $context.Site.Taxonomies.categories.ByCount -}}
            {{- $visiblePages := where .Pages "Params.hidden" "!=" true -}}
            {{- $visiblePages = where $visiblePages "Params.hideFromCategoryList" "!=" true -}}
            {{- if and (ne .Page.Params.hideFromCategoryList true) (gt (len $visiblePages) 0) -}}
                {{- $categories = $categories | append (dict "Page" .Page "Count" (len $visiblePages)) -}}
            {{- end -}}
        {{- end -}}

        {{ range first $limit (sort $categories "Count" "desc") }}
            <a href="{{ .Page.RelPermalink }}" class="font_size_{{ .Count }}">
                {{ .Page.Title }}
            </a>
        {{ end }}
    </div>
</section>
