{{- with .Params.updates -}}
<section class="article-updates" aria-labelledby="article-updates-title">
    <div class="article-updates__header">
        {{ partial "helper/icon" "clock" }}
        <h2 id="article-updates-title">更新记录</h2>
    </div>
    <ol class="article-updates__list">
        {{- range . -}}
            {{- $date := "" -}}
            {{- $content := . -}}
            {{- if reflect.IsMap . -}}
                {{- $date = .date -}}
                {{- $content = .content -}}
            {{- end -}}
            <li class="article-updates__item">
                {{- with $date -}}
                    <time datetime="{{ . }}">{{ time.Format "2006-01-02" (time .) }}</time>
                {{- end -}}
                <div>{{ $content | markdownify }}</div>
            </li>
        {{- end -}}
    </ol>
</section>
{{- end -}}
